@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinInfinite {
  animation: spin 1s linear infinite;
}

@keyframes appearGrowing {
  0% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

.appearGrowing {
  animation: appearGrowing 0.2s ease-out;
}

