<div class="hFull wFull">
  <div
    class="dailyTask wFull card p6 rounded6 flex justBetween itemsCenter gap6"
  >
    <div class="flex flexCol gap3">
      <div class="flex itemsCenter gap3">
        <span class="mutedText">#Caminar</span>
        <i class="material-icons-round mutedText">horizontal_rule</i>
        <span class="mutedText">Total Time: 2h</span>
      </div>
      <span class="titleText">Recorrer el parque </span>
    </div>
    <div class="flex gap3">
      <i class="material-icons-round">play_arrow</i>
      <i class="material-icons-round">stop</i>
      <i class="material-icons-round">more_vert</i>
    </div>
  </div>
</div>
