@let taskData = task();

<div class="card p0 flex wFull justBetween">
  <div class="flex flexCol p6">
    <span class="mutedText">{{ taskData.title }}</span>
    <span class="titleText">{{ taskData.tag.name }}</span>
    <span class="mutedText">{{ msToWholeMinutes(taskData.transcurredTime) }}</span>
  </div>
  <div class="flex flexCol">
    <i class="material-icons-round mutedText">more_vert</i>
    <i class="material-icons-round mutedText">play_arrow</i>
    <i class="material-icons-round mutedText">check</i>
  </div>
</div>
