.appContainer {
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  border-radius: 18px;
}

.testContainer {
  height: 100%;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: 0.618fr 1fr;
}
